@font-face {
    font-family: 'Cormorant-Garamont';
    src: url('../../assets/font/cormorantGaramond/CormorantGaramond-Regular.ttf');
}

* { 
    margin : 0;
    padding: 0;
    font-family: 'Cormorant-Garamont';   


}

header {
    display: flex;
    text-align: left;
    background-color: #61ACAF;
    border-bottom: 2px solid red;
    justify-content: space-between;
}

header img {
    float: left;
    height:auto;
}

h1 {
font-style: italic;
padding-top: 2%;
color: #B22721;
float: left;
}

a {
    float: left;
}


nav ul li {
    display: inline;
}

nav ul li a:hover{
    background-color: #641E16;
}


nav ul li a {
    padding: 20px;
    background-color: #B22721;
    text-decoration: none;
    color: white;
}


body {
    height: 100%;
    background-color:#B6FAFD;
}

button {
    background-color: #B22721;
    margin: 1%;
    padding: 2%;
    color: white;
}
    
button:hover {
    background-color:#641E16;
}