form {
    margin-left: 20%;
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

label {
    float: left;
    width: 100%;
}

input {
    float: left;
    width: 100px;
}

button {
    margin-left: 20%;
}

#traduccioCatalaError {
    width: 100%;
    float: left;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

#partitura {
    background-color: #F5B7B1;
    float: left;
    display: flex;
    width: 500px;
    height: 400px;

    margin-bottom: 50px;
}

#partitura>div {
    width: calc(100%/11);
}

#partitura>div>div{
    height: calc(400px/8);
    border: 1px solid black;
}

.notas{
    width: 40px;
    margin-top:-100%;
    margin-left: -10px;
}