table {
    justify-content: center;
    margin-left: 30% ;
}


tr th {
    background-color: #B22721;
    color: white;
    width: 200px;
    height: 20px;
}

tr {
    padding-right: 50px;
}

#novaPartitura {
    height: 70px;
}