

#piano {
    width: 60%;
    margin-left: 10%;
    border: 1px solid black;
    padding: 2%;
    background-image: url('../../assets/img/background.jpg');    display: flex;
}

.tecla {
    height: 200px;
    width: 60%;
    background-color: white;
    position: relative;
    margin: 0;
    padding: 0;
}

.tecla:hover {
    background-color: gray;
}

#do-sust {
margin-left: 6%;
}

#re-sust {
    margin-left: 13%;
}

#fa-sust {
    margin-left: 29%;
}

#sol-sust {
    margin-left: 36%;
}

#la-sust {
    margin-left : 43.5%;
}


.negra {
    height: 120px;
    width: calc(10% / 4);
    background-color: black;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#cerca {
    margin-left: 10%;
    margin-top: 3%;
    border: 1px black solid;
    width: 60%;
    background-color: white;
    text-align: center;

}


h3 {
    color : #B22721;
}

#cercaNotes {
    justify-content: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }